.sideBar{
    width: 25rem;
    height: 100vh;
    box-sizing: border-box;
}

.progress{
    width: 100%;
    min-height: 20rem;
    box-sizing: border-box;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}



.progress-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.progress-title{
    font-size: 1.7rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.progress-btn{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border:none;
    font-size: 2rem;
}

.progress-list-item{
    padding: 0.5rem 1.5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.bx-play{
    font-size:2.5rem;
}

.list-item-title{
    margin-right: 4rem;
    font-size: 2rem;
}

.list-item-time{
    font-size: 2rem;
}