.column{
    width:calc(94%/7);
    height:auto;
    box-sizing: border-box;
}


.cell{
    position:relative;
    width:100%;
    height:5rem;
    text-align: center;
    border:1px rgb(0, 0, 0) solid;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
}

.cell:first-child{
    border-top: 1px rgb(0, 0, 0) solid;;
}

.cell:last-child{
    border-bottom: none;
}

.timeline {
    width:100%;
    position: absolute;
    border: 1px rgb(147, 64, 64) solid;
    height:0;
    box-sizing: border-box;
}

.timeline_circle{
    width: 12px;
    height: 12px;
    background-color: rgb(147, 64, 64);
    border-radius: 50%;
    position: absolute;
    top: -6.5px;
    left: -6px;
    box-sizing: border-box;
    z-index: 2;
}

.interval{
    height:100px;
    width:100px;
    background-color: rgba(100, 149, 237, 0.8);
}