.task{
    padding: 0.5rem 1.5rem;
    display:grid;
    grid-template-columns: 3fr 8fr auto;
}

.bx-play,
.play{
    font-size:2.5rem;
}

.bx-pause,
.pause{
    font-size: 2.5rem;
}

.title{
    margin-right: 4rem;
    font-size: 2rem;
}

.time{
    font-size: 2rem;
    margin-right: 1rem;
}