.header{
    position: sticky;
    top:0;
    background-color: rgb(207, 196, 196);
    width:auto;
    height:8rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    z-index: 3;
    align-items: center;
}

.header .timeZone{
    display: flex;
    align-items: end;
    justify-content: center;
    height:8rem;
    width:6%;
    margin:0;
    box-sizing: border-box;
}

.timeZone{
    padding-bottom: 0.4rem;
}

.day{
    padding-top: 1rem;
    background-color: rgb(207, 196, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:8rem;
    width:calc(94%/7);
    margin:0;
    box-sizing: border-box;
    position:relative;
}

.dayText{
    display: flex;
    align-items: end;
    height:2rem;
    box-sizing: border-box;
}

.date{
    display: flex;
    align-items:center;
    justify-content: center;
    height:4rem;
    aspect-ratio: 1/1;
    font-size: 2.4rem;
    position: relative;
    bottom:-6px;
}

.caliber{
    box-sizing: border-box;
    width:100%;
    height:2rem;
    border-left: 1px black solid;
}

.today .date{
    background-color: rgb(83, 146, 99);
    border-radius: 50%;
    color:white;
}

.today .dayText{
    color:rgb(83, 146, 99);
}