.header{
    position: sticky;
    top:0;
    background-color: rgb(207, 196, 196);
    width:auto;
    height:5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    z-index: 3;
    align-items: center;
}

.header .timeZone{
    background-color: rgb(111, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    height:5rem;
    width:6%;
    margin:0;
    box-sizing: border-box;
}

.day{
    background-color: rgb(207, 196, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:5rem;
    width:calc(94%/7);
    margin:0;
    box-sizing: border-box;
}

.day div{
    height:70%;
    box-sizing: border-box;

}

.caliber{
    box-sizing: border-box;
    width:100%;
    height:30%;
}
