.calendar{
    height:90%;
    border-radius: 2.5rem;
    background-color: rgb(207, 196, 196);
    box-sizing: border-box;
    padding: 0 1rem;
    display:flex;
    flex-direction: column;
    overflow:scroll;
    overflow-x: auto;
}


.calendar .main{
    display:flex;
    margin: 0 2rem;
    width:auto;
    border: 1px solid black;
    box-sizing: border-box;
}


