html{
    font-size: 62.5%;
    margin:0;
    padding:0;
}

body{
    margin:0;
}

.calendar-body{
    display: flex;
}

.header{
    width:100vw;
    height:10vh;
    border: 3px solid black;
    box-sizing: border-box;

}

.side-bar{
    width: 20vw;
    height: 90vh;
    border: 3px solid black;
    box-sizing: border-box;
}

.dates{
    width: 90vw;
    height: 90vh;
    border: 3px solid black;
    box-sizing: border-box;
}