html{
    font-size: 62.5%;
    margin:0;
    padding:0;
}

body{
    margin:0;
}

.calendar-body{
    display: flex;
}

.side-bar{
    min-width: 23rem;
    width: 20vw;
    height: 100vh;
    border: 3px solid black;
    box-sizing: border-box;
}

.side-bar-header{
    border: 3px solid black;
    height:10vh;
}

.dates{
    width: 90vw;
    height: 100vh;
    border: 3px solid black;
    box-sizing: border-box;
}